<div class="site-wrapper-inner">
  <div class="cover-container">
    <div class="masthead clearfix">
      <div class="inner">
        <h3 class="masthead-brand">djng</h3>
        <ul class="nav masthead-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="/api/" target="_self">API</a></li>
          <li><a href="/admin/" target="_self">Admin</a></li>
        </ul>
      </div>
    </div>

    <div class="inner cover">
      <h1 class="cover-heading">It worked!</h1>

      <p class="lead">Congratulations on your Django-Angular-powered page.</p>

      <h4>Here's what to do next:</h4>
      <ul class="list-unstyled">
        <li ng-repeat="todo in todos">
          {{ todo }}
        </li>
      </ul>

    </div>

    <div class="mastfoot">
      <div class="inner">
        <p>Django & AngularJS Boilerplate <a href="https://github.com/djng/djng">djng</a>, by <a
          href="https://github.com/aeby/">æ</a>.
        </p>
      </div>
    </div>
  </div>
</div>
